
        <!-- blog-area start -->
        <div class="blog-area section-padding">
            <div class="container">
                <div class="col-l2">
                    <div class="wpo-section-title">
                        <span>From Our Blog</span>
                        <h2>Latest News</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-1.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">The Importance of Marriage in Islam.</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-2.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item b-0">
                            <div class="blog-img">
                                <img src="assets/images/blog/img-3.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <h3><a href="blog-single.html">Salat is the best exercise for body fitness</a></h3>
                                <ul class="post-meta">
                                    <li><img src="assets/images/blog/admin.jpg" alt=""></li>
                                    <li><a href="#">Jenefar Jany</a></li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-area start -->