<!-- start wpo-site-footer -->
            <footer class="wpo-site-footer">
                <div class="wpo-upper-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-6">
                                <div class="widget about-widget">
                                    <div class="logo widget-title">
                                        <img src="assets/images_julie/logo.png" alt="blog" class="editable" />
                                    </div>
                                    <p class=" editable">
                                        summary of company here
                                    </p>
<!--                                     <ul>
                                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                                        <li><a href="#"><i class="ti-google"></i></a></li>
                                    </ul> -->
                                </div>
                            </div>
<!--                             <div class="col col-lg-3 col-md-3 col-sm-6">
                                <div class="widget link-widget">
                                    <div class="widget-title">
                                        <h3>Service</h3>
                                    </div>
                                    <ul>
                                        <li><a href="service-single.html">Islamic School</a></li>
                                        <li><a href="service-single.html">Our Causes</a></li>
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="event.html">Our Event</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="col col-lg-6 col-md-6 col-sm-6">
                                <div class="widget market-widget wpo-service-link-widget">
                                    <div class="widget-title">
                                        <h3 class=" editable">
                                            Contact
                                        </h3>
                                    </div>
                                    <p class=" editable">
                                        contact msg here
                                    </p>
                                    <div class="contact-ft">
                                        <ul>
                                            <li><i class="fi ti-location-pin editable"></i>address</li>
                                            <li><i class="fi flaticon-call editable"></i>phone</li>
                                            <li><i class="fi flaticon-envelope editable"></i>email</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end container -->
                </div>
<!--                 <div class="wpo-lower-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <p class="copyright">&copy; 2020 Ummah. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </footer>
            <!-- end wpo-site-footer -->
