
        <!-- start of hero -->
        <section class="hero hero-style-2">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-8 col-md-7 slide-caption">
                                <div class="slide-top">
                                    <span class="editable">Call to action</span>
                                </div>
                                <div class="slide-title">
                                    <h2 class="editable">Title goes here</h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p class="editable">Subtitle goes here this can be longer</p>
                                </div>
                                <div class="btns">
                                    <a href="index.html#first_feature" class="theme-btn editable">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-vec">
                        <img class="editable" src="assets/images_julie/img-3.png" alt="">
<!--                         <div class="right-border">
                            <div class="right-icon"><i class="fi flaticon-quran"></i></div>
                            <div class="right-icon"><i class="fi flaticon-taj-mahal-1"></i></div>
                            <div class="right-icon"><i class="fi flaticon-allah-word"></i></div>
                            <div class="right-icon"><i class="fi flaticon-muhammad-word"></i></div>
                            <div class="right-icon"><i class="fi flaticon-prayer"></i></div>
                            <div class="right-icon"><i class="fi flaticon-business-and-finance"></i></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->