<div class="service-wrap-s2">
                    <div class="row">
                        <div class="col-lg-6 col-md-4">
                            <div class="service-img">
                                <img class="editable" src="assets/images_julie/img-2.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="service-item">
                                <div class="service-title">
                                    <span class="editable">last title feature</span>
                                    <h2 class="editable">
                                        title goes here
                                    </h2>
                                    <p class="editable">
                                        paragraph description goes here asdf
                                    </p>
                                </div>
<!--                                 <div class="wpo-counter-grids">
                                    <div class="grid">
                                        <div>
                                            <h2><span class="odometer" data-count="45">00</span>+</h2>
                                        </div>
                                        <p>New Mosque</p>
                                    </div>
                                    <div class="grid">
                                        <div>
                                            <h2><span class="odometer" data-count="30">00</span>+</h2>
                                        </div>
                                        <p>Old Mosque</p>
                                    </div>
                                    <div class="grid">
                                        <div>
                                            <h2><span class="odometer" data-count="85">00</span>+</h2>
                                        </div>
                                        <p>Imams</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
