<!-- wpo-about-area start -->
        <div class="wpo-about-area section-padding" id="first_feature">
            <div class="container">
                <div class="wpo-about-wrap">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-img-3">
                                <img class="editable" src="assets/images_julie/about3.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="wpo-about-text">
                                <div class="wpo-section-title">
                                    <span class="editable">Title1</span>
                                    <h2 class="editable">
                                        Featasdfasdfured thing 1
                                    </h2>
                                </div>
                                <p class="editable">
                                    paragraph about asdffeatured thing 1
                                </p>
<!--                                 <div class="btns">
                                    <a href="about.html" class="theme-btn" tabindex="0">Discover More</a>
                                    <ul>
                                        <li class="video-holder">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0"></a>
                                        </li>
                                        <li class="video-text">
                                            <a href="https://www.youtube.com/embed/LTqRm53QjI0" class="video-btn" data-type="iframe" tabindex="0">
                                                Watch Our Video
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
<!--                 <div class="timer-section">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="timer-text">
                                <h2>Prayer Times</h2>
                                <p>Prayer times in United Arab Emirates</p>
                                <span>Mon 15 Jan, 2020</span>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="timer-num">
                                <ul>
                                    <li>Fajr<span>05:47</span></li>
                                    <li>Sunrize<span>07:05</span></li>
                                    <li>Dhuhr<span>12:34</span></li>
                                    <li>Asr<span>15:35</span></li>
                                    <li>Maghrib<span>17:58</span></li>
                                    <li>Isha'a<span>19:15</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="timer-shape1">
                        <img src="assets/images/prayer-shape/2.png" alt="">
                    </div>
                    <div class="timer-shape2">
                        <img src="assets/images/prayer-shape/1.png" alt="">
                    </div>
                    <div class="timer-shape3">
                        <img src="assets/images/prayer-shape/3.png" alt="">
                    </div>
                </div> -->
            </div>
        </div>
        <!-- wpo-about-area end -->
