<!-- Start header -->
        <header id="header" class="wpo-site-header wpo-header-style-3">
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand editable" href="index.html"><img src="assets/images_julie/logo.png" alt="logo" /></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="ti-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li class="menu-item-has-children">
                                <!-- <a href="#">Home</a> -->
<!--                                 <ul class="sub-menu">
                                    <li><a href="index.html">Home style 1</a></li>
                                    <li><a href="index-2.html">Home style 2</a></li>
                                    <li><a href="index-3.html">Home style 3</a></li>
                                    <li><a href="index-4.html">Home style 4</a></li>
                                </ul> -->
                            </li>
                            <li><a href="care_services.html">Care Services</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="index.html#testamonials">Testamonials</a></li>
                            <!-- <li><a href="about.html">Contact Us</a></li> -->
                            <!-- <li><a href="about.html">Careers</a></li> -->
<!--                             <li class="menu-item-has-children">
                                <a href="#">Service</a>
                                <ul class="sub-menu">
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-single.html">Service Single</a></li>
                                </ul>
                            </li>
                            <li><a href="donate.html">Donate</a></li>
                            <li class="menu-item-has-children">
                                <a href="#">Event</a>
                                <ul class="sub-menu">
                                    <li><a href="event.html">Event</a></li>
                                    <li><a href="event-single.html">Event Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog right sidebar</a></li>
                                    <li><a href="blog-left.html">Blog left sidebar</a></li>
                                    <li><a href="blog-fulwidth.html">Blog fullwidth</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog details</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-single.html">Blog details right sidebar</a></li>
                                            <li><a href="blog-single-left.html">Blog details left sidebar</a></li>
                                            <li><a href="blog-single-fluid.html">Blog details fullwidth</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </div><!-- end of nav-collapse -->
                    <div class="cart-search-contact">
                        <div class="btns">
                            <a href="contact_us.html" class="theme-btn">Contact Us</a>
                        </div>
                    </div>
                </div><!-- end of container -->
            </nav>
        </header>
        <!-- end of header -->
