
        <!-- support-area start -->
        <div class="support-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="support-text">
                            <span>Support Us</span>
                            <h2>We Need Your Help</h2>
                            <p>The Weekend School of the Islamic Center of Allah is committed to providing quality Islamic Education according to the Quran.</p>
                            <div class="btns">
                                <a href="donate.html" class="theme-btn-s3">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="progress-area">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4 custom-grid">
                                    <div class="progress-wrap">
                                        <div class="progressbar" data-animate="false">
                                            <div class="circle" data-percent="56">
                                                <div></div>
                                            </div>
                                        </div>
                                        <span>Mosque</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 custom-grid">
                                    <div class="progress-wrap">
                                        <div class="progressbar2" data-animate="false">
                                            <div class="circle" data-percent="45">
                                                <div></div>
                                            </div>
                                        </div>
                                        <span>Expenses</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 custom-grid">
                                    <div class="progress-wrap">
                                        <div class="progressbar3" data-animate="false">
                                            <div class="circle" data-percent="74">
                                                <div></div>
                                            </div>
                                        </div>
                                        <span>Feed Hungry</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- support-area start -->