
        <!-- testamonials -->
        <div class="blog-area section-padding" id="testamonials">
            <div class="container">
                <div class="col-l2">
                    <div class="wpo-section-title">
                        <!-- <span class="editable">Testamonials</span> -->
                        <h2 class="editable">Testamonials</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="editable" src="assets/images_julie/img-41.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <p class="editable">testamonial text alll goes here</p>
                                <ul class="post-meta">
                                    <li class="editable"><a class="editable" >Jenefar Jany</a></li>
                                    <li class="editable"><i class="fa fa-clock-o editable" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="editable" src="assets/images_julie/img-42.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <p class="editable">testamonial</p>
                                <ul class="post-meta">
                                    <li class="editable"><a class="editable" >Jenefar Jany</a></li>
                                    <li class="editable"><i class="fa fa-clock-o editable" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 custom-grid">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="editable" src="assets/images_julie/img-43.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <p class="editable">testamonial</p>
                                <ul class="post-meta">
                                    <li class="editable"><a class="editable" >Jenefar Jany</a></li>
                                    <li class="editable"><i class="fa fa-clock-o editable" aria-hidden="true"></i> 21 Jan 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>